.mform.mod_expertforum_post .fitem div.fitemtitle {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 4px;
    margin-bottom: 4px;
}
.mform.mod_expertforum_post .fitem .felement {
    float: left;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
}

.mod-expertforum-questionlist {
    clear: both;
    float: left;
    width: 728px;
    margin-bottom: 20px;
}
.question-summary {
    overflow: hidden;
    float: left;
    width: 728px;
    padding: 12px 0px 10px;
    border-bottom: 1px solid #E0E0E0;
}

.statscontainer {
    width: 78px;
    float: left;
    margin-right: 8px;
    margin-left: 8px;
}

.statsarrow {
    float: right;
    height: 13px;
    width: 7px;
    margin-top: 12px;
}

.stats {
    margin: 0px;
    width: 58px;
}

.vote {
    text-align: center;
}
.votes {
    padding: 0px;
    margin-bottom: 8px;
    text-align: center;
}

.statscontainer .votes {
    color: #777;
    font-size: 11px;
}

.votes strong {
    display: block;
    font-size: 20px;
    margin: 0px 0px 3px;
    font-weight: normal;
    color: #777;
}
.status {
    padding: 0px;
    margin-bottom: 8px;
    text-align: center;
}

.statscontainer .status {
    padding: 7px 0px 5px;
    font-size: 11px;
}

.statscontainer .status strong {
    font-size: 18px;
    font-weight: normal;
    display: block;
}
.answered {
    background-color: #75845C;
    color: #FFF;
}
.statscontainer .views {
    width: 58px;
}
.views {
    padding-top: 4px;
    text-align: center;
}

.summary {
    float: left;
    width: 630px;
}

.summary h3 {
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 0.5em;
    margin-top: 0;
}

answer-hyperlink, .question-hyperlink {
    color: #07C;
    line-height: 1.3;
    margin-bottom: 1.2em;
}
.question-hyperlink {
    font-size: 16px;
    font-weight: 400;
}

.excerpt {
    padding: 0px 0px 5px;
    margin: 0px;
    color: #444;
}
.tags {
    line-height: 18px;
    float: left;
}
.post-tag {
    color: #566E76;
    background: #F7FDFF none repeat scroll 0% 0%;
    border: 1px solid #C0D4DB;
    padding: 0.4em 0.5em;
    border-radius: 15px;
    margin: 2px 2px 2px 0px;
    text-decoration: none;
    text-align: center;
    font-size: 11px;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
}
.post-tag {
    color: #3E6D8E;
    font-size: 12px;
    white-space: nowrap;
    background: #E4EDF4 none repeat scroll 0% 0%;
    border: 1px solid #E4EDF4;
    display: inline-block;
    margin: 2px 2px 2px 0px;
    border-radius: 0px;
    transition: color 0.15s ease 0s, background 0.15s ease 0s, border 0.15s ease 0s;
}

.fr {
    float: right;
}
.started {
    color: #999;
    width: 185px;
    float: right;
    line-height: 18px;
}
.user-info {
    height: 35px;
    width: 190px;
}

.user-info .user-action-time {
    margin-top: 2px;
    margin-bottom: 4px;
}
.relativetime {
    text-decoration: none;
}

.user-info .user-gravatar32 {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 1px;
}

.user-details {
    color: #888;
    line-height: 17px;
}
.user-info .user-details {
    float: left;
    margin-left: 5px;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
}
.started a:not(.started-link), .started .mod-flair {
    font-size: 12px;
    color: #07C;
}
.reputation-score {
    font-weight: bold;
    font-size: 12px;
    margin-right: 2px;
}
.started .reputation-score {
    font-weight: normal;
    color: #777;
    margin-left: 1px;
}


/* View single thread */
.question {
    clear: both;
}
.votecell {
    vertical-align: top;
    padding-right: 15px;
}
.vote {
    text-align: center;
}
.votecell .vote {
    min-width: 46px;
}


.envelope-on, .envelope-off, .vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .comment-up-off, .comment-up-on, .comment-flag, .edited-yes, .feed-icon, .vote-accepted-off, .vote-accepted-on, .vote-accepted-bounty, .badge-earned-check, .delete-tag, .grippie, .expander-arrow-hide, .expander-arrow-show, .expander-arrow-small-hide, .expander-arrow-small-show, .anonymous-gravatar, .badge1, .badge2, .badge3 {
    background-image: url([[pix:mod_expertforum|sprites]]), none;
    background-repeat: no-repeat;
    overflow: hidden;
}
.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .vote-accepted-off, .vote-accepted-on {
    display: block;
    margin: 0px auto 2px;
    text-indent: -999em;
    width: 40px;
    height: 40px;
}
.vote-up-off, .vote-down-off, .vote-accepted-off, .star-off, .comment-up-off, .flag-off {
    cursor: pointer;
}
.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .comment-up-off, .comment-up-on, .comment-flag, .flag-off, .vote-accepted-off, .vote-accepted-on {
    text-indent: -9999em;
    font-size: 1px;
}
.vote-up-off {
    background-position: 0px -170px;
}
.envelope-on, .envelope-off, .vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .comment-up-off, .comment-up-on, .comment-flag, .edited-yes, .feed-icon, .vote-accepted-off, .vote-accepted-on, .vote-accepted-bounty, .badge-earned-check, .delete-tag, .grippie, .expander-arrow-hide, .expander-arrow-show, .expander-arrow-small-hide, .expander-arrow-small-show, .anonymous-gravatar, .badge1, .badge2, .badge3, .gp-share, .fb-share, .twitter-share, #notify-container span.notify-close, .migrated.to, .migrated.from {
    background-size: initial;
}
.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on {
    height: 30px;
}


.vote-count-post {
    display: block;
    font-size: 20px;
    margin: 0px 0px 3px;
}
.vote span {
    display: block;
    color: #777;
}
.votecell .vote-count-post {
    margin: 8px 0px;
}

.vote-down-off {
    background-position: 0px -220px;
    margin-bottom: 8px;
}
.vote-down-off, .vote-down-on {
    margin-bottom: 10px;
}

.star-off {
    background-position: 0px -120px;
}
.star-on, .star-off {
    height: 30px;
}
.star-on {
    background-position: -40px -120px;
}

.favouritecount {
    text-align: center;
    color: #777;
    font-weight: normal;
}
.favouritecount.favouritecount-selected {
    color: #D4A849;
}

.question .postcell {
    vertical-align: top;
}

.post-text, .wmd-preview {
    width: 660px;
    margin-bottom: 5px;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 1.3;
}

.post-taglist {
    margin-bottom: 10px;
    clear: both;
}

.fw {
    margin-bottom: 4px;
    width: 100%;
}

.vt {
    vertical-align: top;
}
.post-menu {
    padding-top: 2px;
}
.post-menu > a {
    padding: 0px 3px 2px;
    color: #888;
}
.lsep {
    margin: 0px 2px;
    color: #1B4072;
    font-size: 1px;
    visibility: hidden;
}
.post-menu .lsep {
    margin: 0px;
    padding: 0px;
}

.post-signature {
    text-align: left;
    vertical-align: top;
    width: 175px;
    height: 58px;
    padding: 5px;
}
.owner {
    background-color: #E0EAF1;
}


#answers {
    clear: both;
    padding-top: 10px;
    width: 728px;
}

#answers-header {
    margin-top: 10px;
    width: 728px;
}

.subheader {
    clear: both;
    margin-bottom: 15px;
    height: 40px;
    border-bottom: 1px solid #E0E0E0;
}
.subheader {
    height: 34px;
    border-bottom: 1px solid #E0E0E0;
}

.answer {
    padding-bottom: 20px;
    padding-top: 20px;
    width: 728px;
}
.question-page #answers .answer {
    border-bottom: 1px solid #F0F0F0;
}
