{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_expertforum/thread

    Displays one post (question with answers)

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "id":1,
        "votes":4,
        "message":"My message",
        "answersheader":"2 answers",
        "answers":[
            {"id":2,
            "votes":3,
            "message":"My answer1"},
            {"id":3,
            "votes":1,
            "message":"My answer2"}
        ]
    }
}}
<div id="question" class="question" data-post-id="{{id}}">
    {{> mod_expertforum/post}}
</div>
<div id="answers">
    <a name="tab-top"></a>
    <div id="answers-header">
        <h2>{{{answersheader}}}</h2>
    </div>
    {{#answers}}
        <a name="{{id}}"></a>
        <div id="answer-{{id}}" class="answer" data-postid="{{id}}">
            <div class="new-post-activity" data-postid="{{id}}"></div>
            {{> mod_expertforum/post}}
        </div>
    {{/answers}}
</div>
